.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-wrapper{
    transform: translateX(170px);
}

.links{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.links + .links{
    color: rgb(146, 146, 146);
    text-decoration: none;
    margin-left:20px;
}

.links:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}



.wall-select{
    margin-left: 10px;
}

.lang-select{
    background-color: rgba(255, 255, 255, 0.616);
}

.lang-select{
    background-color: rgba(255, 255, 255, 0.616);
}

.wall-select{
    background-color: rgba(255, 255, 255, 0.616);
}