.healthcare-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.healthcare-heading {
    width: 100%;
    max-width: 427px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.healthcare-paragraph {
    width: 100%;
    max-width: 445px;
    margin-bottom: 35px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #4e4e4e;
}

.healthcare-link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
    line-height: 60px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #458FF6;
    border-radius: 50px
}

.healthcare-img{
    margin-left: 110px;
}